/*  *.* BODY AND HTML
    size, colors, font
*/
body{
    width: 700px;
    height: 500px;

    background-color: #78CAD6;

    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 36px;
}



/*  *.* BACKGROUND SHAPES
    buttons and text backings/style
*/
/* general shape rounding*/
.background-shape{
    border-radius: 50px;
}

/* text and box styling and positions*/
.hello{
    background-color: #2E5266;
    position: absolute;
    left: 140px;
    top: 15px;
    width: 420px;
    height: 60px;
}
.mode{
    background-color: #D1ECF0;
    position: absolute;
    left: 209px;
    top: 424px;
    width: 282px;
    height: 45px;
}

/* timer button styling and positions (+ text styles)*/
.timer-button{
    font-family: "Work Sans", sans-serif;
    background-color: #D1ECF0;
    color: #2E5266;
    font-size: 13px;
    font-weight: 600;
    border: none;
}
.start{
    position: absolute;
    left: 288px;
    top: 126px;
    width: 57px;
    height: 32px;
}
.end{
    position: absolute;
    left: 355px;
    top: 126px;
    width: 57px;
    height: 32px;
}



/*  *.* BUBBLE BACKGROUND
    bubble style and positioninG
*/
/* style */
.bubble{
    border-color: #D1ECF0;
    border-style: solid;
    border-width: 2px;
    filter:blur(2px);
    border-radius: 50%;
    position: absolute;
    z-index:1000;
}

/* left bubbles */
.L1{
    left: 109px;
    top: 103px;
    width: 62px;
    height: 62px;
}
.L2{
    left: 102px;
    top: 228px;
    width: 30px;
    height: 30px;
}
.L3{
    left: 164px;
    top: 331px;
    width: 45px;
    height: 45px;
}
.L4{
    left: 108px;
    top: 387px;
    width: 63px;
    height: 63px;
}
/* right bubbles */
.R1{
    left: 443px;
    top: 71px;
    width: 38px;
    height: 38px;
}
.R2{
    left: 535px;
    top: 115px;
    width: 75px;
    height: 75px;
}
.R3{
    left: 599px;
    top: 195px;
    width: 50px;
    height: 50px;
}
.R4{
    left: 500px;
    top: 258px;
    width: 87px;
    height: 87px;
}
.R5{
    left: 599px;
    top: 376px;
    width: 38px;
    height: 38px;
}



/*  *.* TEXT
    text styles and positions
 */
.time{
    position: absolute;
    left: 274px;
    top: 71px;
    width: 152px;
    height: 55px;

    font-family: "Work Sans", sans-serif;
    color: #2E5266;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.hello-text{
    font-family: "Work Sans", sans-serif;
    color: #D1ECF0;
    font-size: 36px;
    font-weight: 500;
    text-align: center;

    position: absolute;
    left: 164px;
    top: 0;
    width: 371px;
    height: 55px;
}

.mode-text{
    font-family: "Work Sans", sans-serif;
    color: #2E5266;
    font-size: 28px;
    font-weight: 400;
    text-align: center;

    position: absolute;
    left: 191px;
    top: 406px;
    width: 317px;
    height: 55px;
}

/* motivational quotes*/
.motivation{
    font-family: "Work Sans", sans-serif;
    color: #2E5266;
    font-size: 17px;
    font-weight: 400;
    font-style: italic;
    text-align: center;

    position: absolute;
    bottom: 5px;
    width: 700px;
}



/*  *.* NAV ICONS
    positioning and sizing
 */
.nav{
    border-radius: 50%;
    position: absolute;

    border-color: #2E5266;
    border-style: solid;
    border-width: 3px;
}
.home-button{
    left: 23px;
    top: 18px;
    width: 60px;
    height: 60px;
}
.study-button{
    left: 25px;
    top: 123px;
    width: 55px;
    height: 55px;
}
.nom-button{
    left: 25px;
    top: 223px;
    width: 55px;
    height: 55px;
}
.nap-button{
    left: 25px;
    top: 321px;
    width: 55px;
    height: 55px;

}



/*  *.* AXOLOTL
    gif positioning and resizing
 */
.axolotl{
    position: absolute;
    left: 219px;
    top: 152px;
    width: 262px;
    height: 262px;
}



/*  *.* POPUPS
    initial name and settings
 */
/* initial popup with name input styling */
#initial-popup{
    background-color: #78CAD6;
    cursor:default;
    vertical-align: middle;
    position:absolute;
    display:block;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index:500;
}
#name-form{
    position:absolute;
    background-color: #2E5266;
    top: 190px;
    left: 175px;
    width: 361px;
    height: 150px;
    border-radius: 50px;
}
#name-label{
    position:relative;
    top: 10px;
    left:20px;

    font-family: "Work Sans", sans-serif;
    color: #D1ECF0;
    font-size: 25px;
    font-weight: 500;
    border: none;
}
#name-submit-container{
    position:absolute;
    top: 50px;
    left: 20px
}
#name-value{
    font-family: "Work Sans", sans-serif;
    color: #457058;
    font-weight: 400;
    width: 230px;
}
#name-submit{
    font-family: "Work Sans", sans-serif;
    background-color: #FFC2E1;
    color: #2E5266;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    height: 25px;
}

/* error styles */
.error{
    color: #D1ECF0;
    font-size: 14px;
    font-weight: 400;
    position:absolute;
    top: 90px;
    left: 20px;
    display:none;
}
.error2{
    color: #D1ECF0;
    font-size: 14px;
    font-weight: 400;
    position:absolute;
    top: 250px;
    left: 20px;
    display:none;
}

/* open and close settings styling */
.gear{
    position: absolute;
    top: 17px;
    left: 650px;
    width: 60px;
    height: 60px;
}
#settings-close{
    font-family: "Work Sans", sans-serif;
    color: #FFC2E1;
    font-size: 40px;
    font-weight: 900;

    position: absolute;
    top: 10px;
    left: 315px;
}

/* settings popup with name input styling */
#settings-popup{
    background-color: #78CAD6;
    cursor:default;
    vertical-align: middle;
    position:absolute;
    display:none;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index:500;
}
#settings-form{
    position:absolute;
    background-color: #2E5266;
    top: 100px;
    left: 175px;
    width: 361px;
    height: 300px;
    border-radius: 50px;
}
.settings-title{
    font-family: "Work Sans", sans-serif;
    color: #D1ECF0;
    font-size: 30px;
    font-weight: 600;
    border: none;
}

/* rename form styles */
.rename{
    position: absolute;
    top: 0;
    left: 20px;
}
#rename-label{
    position:absolute;
    top: 52px;
    left:20px;

    font-family: "Work Sans", sans-serif;
    color: #ABE0FF;
    font-size: 20px;
    font-weight: 500;
    border: none;
}
#rename-submit-container{
    position:absolute;
    top: 60px;
    left: 20px
}
#rename-value{
    font-family: "Work Sans", sans-serif;
    color: #457058;
    font-weight: 400;
    width: 230px;
}
#rename-submit{
    font-family: "Work Sans", sans-serif;
    background-color: #FFC2E1;
    color: #2E5266;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    height: 25px;
}

/* time change form styles */
.time-change{
    position: absolute;
    top: 110px;
    left: 20px;
}

#minutes-label{
    position:absolute;
    top: 162px;
    left:20px;

    font-family: "Work Sans", sans-serif;
    color: #ABE0FF;
    font-size: 20px;
    font-weight: 500;
    border: none;
}
#minutes-value{
    font-family: "Work Sans", sans-serif;
    color: #457058;
    font-weight: 400;
    width: 230px;

    position:absolute;
    top: 185px;
    left: 20px
}

#seconds-label{
    position:relative;
    top: 192px;
    left: 20px;

    font-family: "Work Sans", sans-serif;
    color: #ABE0FF;
    font-size: 20px;
    font-weight: 500;
    border: none;
}
#seconds-value{
    font-family: "Work Sans", sans-serif;
    color: #457058;
    font-weight: 400;
    width: 230px;

    position:absolute;
    top: 230px;
    left: 20px
}

#time-change-submit{
    font-family: "Work Sans", sans-serif;
    background-color: #FFC2E1;
    color: #2E5266;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    height: 25px;

    position: absolute;
    top: 230px;
    left: 270px;
}

